/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

h1, h2, h3 {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
}

/*  HEADER - MOSQUERA*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
header div {
    display: flex;
    flex-direction: row;
}
.header-navegacion{
}
.header-navegacion img {
	border-radius: 100%;
	margin: 0 10px;
	object-fit: cover;
}

/*  IMAGEN PRINCIPAL - MOSQUERA*/
.imagen-principal {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    flex-direction: column;
    align-items: center;
}

.imagen-principal img{
    margin: 30px 0px;
    width: 900px;
    object-fit: contain;
    border-radius: 40px;
}


/*  CTA - MOSQUERA*/

.CTA-comp-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
}

.CTA {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CTA-cont-img img{
    height: 225px;
    width: 350px;
    margin-left: 50px;
    border-radius: 30px;
}

.CTA-cont-texto {
    display: flex;
    flex-direction: row;
    background-color: gray;
    padding: 10px 30px;
    border-radius: 30px;
}

.CTA-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CTA-boton{
	margin-top: 10px;
}

.CTA-cont-texto p {
    max-width: 250px;
}

.CTA-texto {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SWIPER - JUAN PABLO*/
 .use-swiper{
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

 }

 .use-swiper img{
    width: 200px;
    object-fit: contain;
 }

 /* CONTROLLER - JUAN PABLO*/

 .controller div img {
    width: 500px;
    object-fit: contain;
 }

 .controller {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .controller-text-container{
    max-width: 300px;
 }

  /* MORE INFO- JUAN PABLO*/

  .use-more-info{
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

 }
.use-more-info div{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

 .use-more-info img{
    width: 200px;
    height: 300px;
    margin: 10px 0;
    object-fit: cover;
    border-radius: 30px;
 }

 /* STORE - JUAN PABLO*/

 .store div img {
    width: 500px;
    object-fit: contain;
}

 .store {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-around;
    align-items: center;
}

 .store-text-container{
    max-width: 300px;
}

/* FOOTER - JUAN PABLO*/

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    margin-left: 150px;
    margin-right: 100px;
}

footer img {
    height: 80px;
    width: 200px;
}
