#specific-name {
	color: #191C21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#specific-product{
    background-color: white;
    display: flex;
    flex-direction: row;
}

#specific-info{
    display: flex;
    flex-direction: column;
}


*{
    font-family: 'Golos Text', sans-serif;
}

body {
	margin: 0;
	background-color: #16191D;
}

#img-producto {
    width: 450px;
    height: 450px;
}

h2{
    color: red;
}

/* producto especifico autogenerado */
#specific-product {
	background-color: lightslategray;
	border-radius: 30px;
	margin: 30px 200px 30px 200px;
}

#img-producto {
	object-fit: scale-down;
	margin: 25px;
}

.store-product-section {
	background-color: white;
	padding: 30px 20px;
	border-radius: 0px 30px 30px 0px;
}

.store-product-section h3{
	color: #16191D;
}

/* botones */
.store-product-button {
	width: 100px;
	margin-top: 20px;
}
.store-product-back {
	height: 55px;
}

/* --- mobile --- */

@media (max-width: 900px) {
	#specific-product {
		border-radius: 15px;
		margin: 10px 30px 10px 30px;
		flex-direction: column;
		align-items: center;
	}

	#img-producto {
		margin: 5px;
	}

	.store-product-section {
		padding: 10px 20px;
		border-radius: 0px 0px 30px 30px;
	}
	.store-product-section h3, p{
		margin-top: 5px;
		margin-bottom: 10px;
	}
	#img-producto {
	    width: 300px;
	    height: 300px;
	}
}
